
.container{
  display:grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows:auto auto auto auto 20px 70px auto auto auto auto auto auto auto auto;
  height: 100%;
  width:100%;
}

/*  Hur mkt jag än försökte med denna grid fungerade det inte, så tänker strunta i den för tillfället och placera mina bilder i galleri manuellt
.container3 {
  grid-column: 5/9;
  grid-row: 4/5;
}*/

header{
  grid-column: 1/-1;
  grid-row: 2/3;
}

nav{
  grid-column: 1/-1;
  grid-row: 1/2;
}

h1 {
  grid-column:2/3;
  grid-row: 2/3;

}

h2 {
  grid-column: 3/6;
  grid-row: 6/7;
  justify-content: center;
}
h3 {

}

.btn1 {
  grid-column: 3/8;
  grid-row: 4/5;
  justify-self: center;
  align-self: end;
}
.background-img1{
  grid-column:1/-1;
  grid-row:1/5;
  justify-self: center;
  /*se kommentar under detta i .welcome*/
}

.welcome {
  grid-column: 1/4;
  grid-row: 3/6;
  /* testade justify-self för då sa olivia att de borde gå att se .welcome över min bagrundsbild, verkar inte funka tho, undrar vad jag gjort fel, update: fixat nu på ngt sätt!*/
  justify-self:left;
  align-self:center;
}

article {/* texten under h2*/
  grid-column: 2/7;
  grid-row: 7/8;
}

aside {
  grid-column: 8 /10;
  grid-row: 6/8;
}

section {
  grid-column: 2 / 9;
  grid-row: 8 / 10;
}

.banner {
  grid-column: 1 / 10;
  grid-row: 10 / 11;
}


footer {
  grid-column: 1/-1;
  grid-row: 11/12;
}

main {
  grid-column: 1 / -1;
  grid-row: 2/3;
}



@media only screen and (max-width: 1000px){/*kom ihåg o ändra både grid och style mediaquery vid ändringar */
  .btn1 {
    display: none;
  }
  h2 {
    grid-column: 2 / 9;
  }
  article {
    grid-column: 2 / 9;
  }
  aside {
    grid-column: 2 / 9;
    grid-row: 8 / 9;
  }
  section {
    grid-column: 2 / 9;
    grid-row: 9 / 10;
  }


}
