

.container3 {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px 300px ;
  grid-auto-flow: dense;
}

/*div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-height: 400px;
}
*/
div {
  grid-column: 4/-1;
  grid-row: 1/2
}
