
* {
  box-sizing: border-box;
  font-family: courier, serif;
}/* styling för allt på sidan*/

/*flexbox för nav-baren, fancy*/
.flexbox {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: end;
  align-items: center;

}
/*vill ha en navbar som döljs o visas när man scrollar upp o ner, men vet inte om det kommer funka med grid. KAn kommentera bort sen*/
nav {
transition: top 1s;
background-color: rgb(107, 134, 80, 15%);
height: 100px;
z-index: 2;
}
/* */
nav a {
  color: rgb(53, 71, 31);
  font-weight: bold;
  padding: 40.5px;
  text-decoration: none;
  font-size: 20px;
  width: 20%;
  text-align: center;
}

nav a:hover {/*vid hover på items i menyn */
  background-color:rgb(246, 245, 237);
  color: black;
}
#current {
  text-transform: uppercase;
  text-decoration: overline;
}

h1 {/* kanske ska ta bort denna rubrik, bidrar nt med mkt*/
color:black;
z-index: 3;
position: relative;
font-size: 32px;
}

h2 { /* Om sidan*/

  text-align: center;
  margin-bottom: 0px;
}

h3 {

}

h4 {/*FAQ*/
  text-align: center;
}
h5 {
  font-size: 20px;
}

article p {/* stylar texten under h2*/
  text-align: center;
  margin-top: 5px;
}

.background-img1{/* detta var jobbigt o fixa, rör ej lol */
width: 100%;
z-index: 1;
position: relative;

}

button {/* stylar button och btn1 separat för ksk ska ha en till knapp, vem vet, update: japp fick nu en ny knapp så fick ta bort all styling på denna, wiho...*/

}
.btn1 span {
  display: none;
}

/*beskriver hur knappen ser ut, färg o form*/
.btn1 {
  background-color: inherit;
  color:rgb(185, 235, 142, 0);
  border-top: 1px dotted rgba(219, 228, 207, 0.66);
  border-bottom: 1px dotted rgba(219, 228, 207, 0.06);
  border-radius: 90%;
  border-left: none;
  border-right: none;
  position: relative;
  z-index: 2;
  height: 50px;
  width:280px;
  padding: 3px;
  text-align: center;
  display: inline-block;
  font-size: 60px;
  margin: 25px;
  margin-bottom: 35px;
  transition-duration: 1s;

/*vill gärna ha en shadow på knappen så det blir en sorts glow-effekt, men venne om det är prio 1 riktigt... nepp absolut inte,har 1000 saker o göra
box-shadow: 2px 2px 2px rgb(209, 255, 185, 30%);*/
}

/*ändrar på knappen vid hover, wow*/
.btn1:hover {
  background-color: rgba(165, 187, 145, 0.42);
  /*background-image: linear-gradient(rgba(165, 187, 145, 0.1),rgba(165, 187, 145, 0.7));*/
  color: Black;
  border: none;
  padding-bottom: 15px;
  height:100px;

}


.btn1:after {
  content: ' \21D3'; /* lägger till pil-icon efter text, detta kan nog göras på bättre sätt, men det funkar iaf!*/
}


figcaption {/* VÄlkommen-bannern overlayad med min bakgrundsbild*/
  color: rgb(214, 235, 162);
  background-image: linear-gradient(to right, rgb(66, 75, 55, 0.8),rgb(66, 75, 55, 0));
  font-size: 30px;
  position: relative;
  z-index: 2;
  padding: 50px;
}

aside { /* om mig texten, gärna på sidan som js popout men får se hur det blir*/
  overflow: scroll;
  max-height: 500px;
  text-align: center;
  border: thick dotted black;
  margin-right: 30px;

}
aside p {
  padding:10px;
  margin:10px;
}

footer {/*ja säger väl sig självt, en footer*/
  background-color: rgb(214, 236, 192, 0.3);

}
section {
}

.banner {
  margin-top: 30px;
}
.banner img {
  width:50%;
  display: inline;
  border: 3px solid;
}

.bildhöger { /*ser lite skumt ut men var det enda sättet jag lyckades få dem lika höjd.De är samma höjd i px men ngt blev skumt venne vad..*/
  float: right;
  height: 93.7%;
}

.galleryimg {
  width: 80%;/* för sida2, hur bilderna ska se ut nu när jag inte har container3 kvar. Måste göra dem spearat så de kan placeras i grid, sike det kommer bli fult att placera dem i grid så får bli enorma bilder iställlet*/
  border-radius: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 10px double black;
  background-color: rgba(194, 208, 149, 0.83);
}

.topplänk {
  text-align: center;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.accordion:after {
  content: '\02795'; /* plustecken läggs till till höger */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* lägg till minustecken efter klick */
}



@media only screen and (max-width: 1000px){/*media query för välkommen-bannern o första hover knappen, venne hur mkt pixlar en mobilskärm är, med detta behövde ändå fixas så kör det separat. */
  figcaption {
    font-size: 20px;
    padding: 25px;
  }
  .btn1 {
    display:none;
  }
  aside {
    margin: 0px;
    max-height: 700px;
  }
  article p {
    margin-bottom: 55px;
  }
  h1 {
    font-size: 40px;
  }
  nav a {
    font-size: 20px;
  }
}
