
* {
  box-sizing: border-box;
}

/*flexbox för nav-baren*/
.flexbox {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: end;
  align-items: center;

}
/*vill ha en navbar som döljs o visas när man scrollar upp o ner, men vet inte om det kommer funka med grid. KAn kommentera bort sen*/
nav {
transition: 0.4s;
background-color: rgb(0, 0, 0, 15%);
height: 100px;
}
h1 {

}
background-img1{
  width: 100%;
  background-size: cover;
}

button {
  border: none;
  color: inherit;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 23px;
  margin: 5px;
  transition-duration: 1s;
}

/*beskriver hur knappen ser ut, färg o form*/
.btn1 {
  background-color: rgb(185, 235, 142, 10%);
color:rgb(185, 235, 142, 10%);
border: 3px solid rgb(194, 255, 126);
border-radius: 90%;
/*vill gärna ha en shadow på knappen så det blir en sorts glow-effekt, men venne om det är prio 1 riktigt...
box-shadow: 2px 2px 2px rgb(209, 255, 185, 30%);*/
}
/*ändrar på knappen vid hover*/
.btn1:hover {
  background-color: white;
  color: Black;
  border: 3px solid rgb(194, 255, 126);
}
/* lägger till pil-icon efter text*/
button:after {
  content: ' \21D3';
}
